{% extends 'templates/app.twig' %}


{% block content %}
<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<h3>Iniciar Sessão</h3>
		<form class="form" method="post" action="">
			<div class="form-group">
				<label>Usuario</label>
				<input type="text" name="usuario" class="form-control">
			</div>

			<div class="form-group">
				<label>Senha</label>
				<input type="password" name="password" class="form-control">
			</div>

			<div>
				<input type="submit" value="Entrar" class="btn btn-success">
			</div>
		</form>
	</div>
</div>
{% endblock %}